<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinAppMedia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WinAppMedia.Properties.Settings.MediaDBConnectionString"
            connectionString="Data Source=10.10.20.63;Initial Catalog=MediaDB;Persist Security Info=True;User ID=sa;Password=ShamSheer1@34"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WinAppMedia.Properties.Settings>
            <setting name="ssrsUser" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="ssrsPassword" serializeAs="String">
                <value>abc123*</value>
            </setting>
            <setting name="ssrsDomain" serializeAs="String">
                <value>10.10.20.63</value>
            </setting>
            <setting name="strupdation" serializeAs="String">
                <value>050314</value>
            </setting>
            <setting name="crUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="crPassword" serializeAs="String">
                <value>ShamSheer1@34</value>
            </setting>
        </WinAppMedia.Properties.Settings>
    </userSettings>
</configuration>